{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="row  pt-3">
        <div class="col-sm-6">
            <form action="" method="POST">
                {% csrf_token %}
                {{ s }}
                <div class="mb-3 mt-5">
                    <label ><h1>Enter Student  <span class="badge bg-danger"> ID</span></h1></label>
                    <div class="input-group mt-3">
                        
                        <input type="text" class="form-control" placeholder="Student ID" name="studentid">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                    </div>
                  
                </div>
              </form>
              <div class="mb-3">
                {% if messages %}
                <ul class="messages " style="padding-left: 0px !important">
                    <div class="alert alert-danger">
                        {% for message in messages %}
                       {% if message.tags %} {% endif %} {{ message }}
                        {% endfor %}
                    </div>

                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            
        </div>
    </div>

</div>

<div class="container mt-10">
    <div class="row pt-3">
       
      
        <div class="mt-5">
            <h2>My Students</h2>           
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Status</th>
                        <th>Phone</th>
                        <th>Action View</th>
                        <th>Action Edit</th>
                        <th>Action Delete</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bane</td>
                            <td>Rem</td>
                            <td>Single</td>
                            <td>143</td>
                            <td><a href=""><h5><span class="badge bg-info">View</span></h5></a></td>
                            <td><a href=""><h5><span class="badge bg-success">Edit</span></h5></a></td>
                            <td><a href=""><h5><span class="badge bg-danger">Delete</span></h5></a></td>
                        </tr>
                        
                         

                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock content %}
