{% extends 'main.html' %}

{% block content %}
<div class="container mt-10">
    <div class="row pt-3">
        
        
        <div class="col-sm-6 mt-5">
            <h2>Attendace Record</h2>            
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Student First Name</th>
                        <th>Attendace Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in obj2 %}
                    <tr>
                        <td>{{ x.student }}</td>
                        <td>{{ x.attendancecreated }}</td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="col-sm-6">
            
        </div>
    </div>
</div>
{% endblock content %}
