{% extends 'main.html' %}
{% block content %}
<section class="container">
    <div class="signup">
        <div class="register-photo">
            <div class="form-container">
                <div class="image-holder"></div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3 mt-3">
                        <h1>Register</h1>
                    </div>
                    <div class="form-group">
                        
                            {{form.username}}
                    </div>
                    <div class="form-group">
                        
                            {{form.email}}
                    </div>
                    <div class="form-group">
                        
                            {{form.password1}}
                    </div>
                    <div class="form-group">
                        
                            {{form.password2}}
                    </div>
                    <div class="">
                        {% if messages %}
                        <ul class="messages " style="padding-left: 0px !important">
                            <div class="alert alert-danger">
                                {% for message in messages %}
                            {% if message.tags %} {% endif %} {{ message }}
                                {% endfor %}
                            </div>
                        </ul>
                        {% endif %}
                    </div>
                    
                    <div class="d-grid mx-auto mt-4">
                        <button class="btn btn-success btn-block btn-info" type="submit" style="color: white;">Submit</button>
                    </div>

                    </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
